.heading {
    border: 0px solid black;
    color: crimson;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    padding: 0px;
    margin: auto;
    background-color: #e6e6ff;
    font-weight: 750;
    color: white;
    text-shadow:
        0.06em 0.07em 0 rgb(55, 56, 4),
        0.09em 0.08em 0 rgb(173, 200, 30),
        0.08em 0.09em 0 rgb(100, 70, 200);
    background-color: #000000;
    background-image: linear-gradient(147deg, #000000 0%, #04619f 74%);
    border-radius: 10px;
    margin: auto;
    width: 45%;
    font-size: 30px;
}

.content1 {
    width: 65%;
    /* height: 25; */

}

.card-left>div {
    color: #3434f7;
    font-weight: 750;
    font-size: 20px;
}

.card-left>div>p {
    color: #5c5cf2;
    font-weight: 500;


}

.card-left>p {
    color: black;
    font-weight: 400;
}

.card-class {
    /* height: 60%; */
    margin: 3%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

}

.img-tag {
    width: 100%;
    height: 100%;
}

.card-left {
    /* width: 90%; */
    height: 28vh;
    padding: 10px;
}

.card-right {
    height: 28vh;
}

@media(max-width:781px) {
    .content1 {
        width: 79%;
        /* height: 25; */

    }

    .card-left>div {
        font-weight: 600;
        font-size: 15px;
    }

    .card-left>div>p {
        color: #5c5cf2;
        font-weight: 400;
    }

    .card-left>p {
        font-weight: 400;
        font-size: 15px;
    }

    .card-left {
        height: 24vh;
        padding: 6px;

    }

    .card-right {
        height: 24vh;
    }
}

@media(max-width:522px) {
    .content1 {
        width: 80%;
    }

    .card-left>div {
        font-size: 12px;
    }

    .card-left>p {
        font-size: 11px;
    }

    .card-left>div>p {
        font-weight: 400;
    }

    .card-left {
        height: 21vh;
        padding: 5px;
    }

    .card-right {
        height: 21vh;
    }
}

@media(max-width:388px) {
    .heading{
        width: 55%;
    font-size: 25px;
    }
    
    .card-left>div {
        font-weight: 600;
        font-size: 10px;
    }

    .card-left>p {
        font-weight: 430;
        font-size: 9px;
    }

    .card-left>div>p {
        font-weight: 420;
    }

    .card-left {
        height: 16vh;
        padding: 2px;
    }

    .card-right {
        height: 16vh;
    }
}

@media(max-width:300px) {
    .card-left>div {
        font-weight: 600;
        font-size: 9px;
    }

    .card-left>p {
        font-weight: 430;
        font-size: 8px;
    }

    .card-left>div>p {
        font-weight: 420;
    }

}